$main-color: black;
$main-color2: white;
$main-color3: #1B1B1B;
$main-color4: #a5c9b5;
$main-font: 'hill_houseregular';

/* BASE */ 

* {
	margin:auto;
	padding:auto;
}

body {
	background-color:$main-color2;
	background-image: url("images/plyz.png"); 
}

ul {
	display: inline;
	padding: 10px;
	list-style: none;
}

nav ul li a {
	color:$main-color2;	
}

h3 a {
	color:$main-color;
}
/* unvisited link */
a:link {
  	text-decoration: none; 
	
}

/* visited link */
a:visited {
  	text-decoration: none;

}

/* mouse over link */
a:hover {
  	text-decoration: none;
	color: $main-color4;
}

/* selected link */
a:active {
  	text-decoration: none;
	color: $main-color4;
}

/* LAYOUT */ 

.top_space {
	height: 200px;
}

.main-nav {
	background-color: $main-color;
	color: $main-color2;
	margin:5px;
	padding-top: 6px;
	width: 100%;    /* 170px */
	font-family: $main-font;
	font-size: 3em;
	text-align: center;
}

.black-background {
	background-color: $main-color;
}

.grey-background {
	background-color: $main-color3;	
}

.white-background {
	background-color: $main-color2;
}

.white-text {
	color: $main-color2;
}

.black-text {
	color: $main-color;
}

.align-right {
	text-align: right;
	float: right;
}

.align-center {
	text-align: center;
	margin: auto;
}


.iframe-center {
	text-align: center;
	margin:auto;
}  

.iframe-center2 {
	text-align: center;
}  


.bob-font {
	font-family: $main-font;
}

.main-home-text {
	width:770px;
	font-size:1.5em;
}

.toggle-info, .toggle-info2 {
	display: none;
}

.mobile-nav {
	display: none;
}

/* Video EMBed responsive code */

.responsive-vid {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; 
overflow: hidden;

}


.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
position: absolute;
top: 0;
left: 0;
width: 80%;
height: 100%;
}

/* END OF = Video EMBed responsive code */


/* MODULE */ 
/* STATE */ 
/* THEME */ 


/* FORM */
input,textarea {
	display:block;
	margin-bottom: 15px;
	width: 100%;
	border: black solid 1px;
}

label {
	margin-bottom: 0px;	
}

.error {
	color:blue;
}

form{
	width:100%;
}



/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 0px) and (max-width: 620px) {

 .iframe-center iframe {
	margin-left: 30px;
}	
}

@media (min-width: 621px) and (max-width:2000px) {
	.responsive-vid {
		margin-left:150px;
	}
	
	
}